@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Allura&display=swap");
.wrap {
  background-image: url("../../images/background-black.jpg");
  font-family: "Josefin Sans", sans-serif;
  color: white;
  font-size: 25px;
}

.wrap button {
  outline: none;
}

.menu-card {
  max-width: 100vw;
}

.back {
  background-color: rgba(0, 0, 0, 0.7);
}

.logo {
  max-width: 60%;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo * {
  width: 40%;
}

.logo h1 {
  font-size: 1.2rem;
  color: #ffad00;
  font-family: "Allura", cursive;
  letter-spacing: 1px;
  -webkit-transform: rotate(-6deg);
  transform: rotate(-6deg);
  margin: 10px;
}

.categories {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100%;
}

.col-1 {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.col-1 img {
  max-width: 100%;
}

.col-1 .image {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.col-2 {
  width: 50%;
}

.col-2 img {
  max-width: 100%;
}

.col-2 .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.image img {
  max-width: 100%;
  max-width: 100%;
}

.category {
  padding: 0 20px;
}

.category h2 {
  font-size: 2rem;
}

.category:nth-child(odd)::after {
  content: "";
  display: block;
  width: 150px;
  border: 2px solid gold;
}

.category:nth-child(even)::after {
  content: "";
  display: block;
  width: 150px;
  border: 2px solid #77aa03;
}

.more {
  display: none;
  display: none;
}

.name {
  font-weight: bold;
  white-space: unset;
}

.price {
  margin-left: 25px;
}

.category {
  width: 100%;
}

.col-1 .category {
  padding-left: 100px;
}

.col-2 .category {
  padding-right: 100px;
}

.menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.menu-item .item-image {
  min-height: 75px;
  min-width: 75px;
  margin-right: 10px;
}

.menu-item .item-image img {
  width: 100%;
}

.menu-item .product-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.menu-item .product-wrap .info {
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  white-space: unset;
}

.menu-item .product-wrap .info p {
  margin: 0;
}

.menu-item .product-wrap .info .price {
  margin-left: auto;
}

.menu-item .product-wrap .info .description {
  width: 100%;
  padding-left: 20px;
}

.menu-item .buy {
  margin-left: 10px;
}

.menu-item .buy button {
  font-size: 20px;
  height: 100%;
  background-color: transparent;
  border-style: none;
  color: white;
  width: 75px;
  height: 75px;
  background-color: #77aa03;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.menu-item .buy .active {
  background-color: #b40308;
}

.menu-item .buy .hide {
  display: none;
}

.next-page {
  color: #ffad00;
}

.next-page:hover {
  color: #77aa03;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  top: 0;
  overflow: hidden;
  background-color: #77aa03;
  right: -225px;
  height: 75px;
  width: 300px;
  border-top-left-radius: 75px;
  border-bottom-left-radius: 75px;
  padding: 0px;
  -webkit-transition: right 1s;
  transition: right 1s;
}

.buttons > div {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.buttons button {
  background-color: transparent;
  border-style: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.buttons .show-menu {
  height: 100%;
}

.buttons .show-menu button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  height: 100%;
  width: 100%;
  text-align: center;
  color: white;
}

.buttons .show-menu svg {
  margin-bottom: 10px;
  font-size: 1.3rem;
}

.buttons .show-basket {
  height: 100%;
}

.buttons .show-basket button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  height: 100%;
  width: 100%;
  text-align: center;
  color: white;
}

.buttons .show-basket svg {
  margin-bottom: 10px;
  font-size: 1.3rem;
}

.buttons .expand {
  justify-self: flex-start;
  display: block;
  height: 75px;
  width: 75px;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

.buttons.active {
  right: 0;
}

@media (max-width: 1024px) {
  .wrap {
    font-size: 20px;
  }
}

@media (max-width: 950px) {
  .col-1 {
    width: 100%;
  }
  .col-1 .category {
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .col-1 .logo {
    max-width: 100%;
    font-size: 0.8rem;
  }
  .col-1 .menu-item {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .col-1 .product-image {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .col-1 .buy {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .col-1 .product-wrap {
    width: 100%;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
  .col-2 {
    width: 100%;
  }
  .col-2 .category {
    width: 100%;
  }
  .col-2 .logo {
    max-width: 100%;
    font-size: 0.8rem;
  }
  .col-2 .menu-item {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .col-2 .buy {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .col-2 .product-wrap {
    width: 100%;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
}
/*# sourceMappingURL=extra.css.map */
